* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.cancha {
    background-image: url(/img/cancha.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 793px;
    height: 1122px;
}

#players-container,#players-containerV {
    width: 100%;
    height: 100%;
    display: inline-flex;
    position:relative;
}

.cancha img {
    width: 100%;
    height: 100%;
}

.player {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid blue;
    display: flex;
    position: absolute;
    align-items: center;
    right: 0;
    left: 0;
    bottom: 0;
}
.player-name{
    position:absolute;
    top:50px;
}
.position {
    position: relative;
    text-align: center;
    width: 100%;
    color: white;
}

.nombre {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.player-cont {
    text-align: center;
}


